<div class="patient-index-container">
      <h2>Patient with the most exercises:</h2>
      <% @frequent_patients.each do |patient| %>
         <ol>
         <%= Patient.find(patient.patient_id).name %>
         </ol>
      <% end %>

   <h3> These are your patients: </h3>

   <% @patients.map do |patient|  %>
      <h4>Patient Name:</h4>
      <ul>
      <li><%= link_to patient.name, patient_path(patient) %></br></li>
      <ul>
   <% end %>
</div>

