<br>
<!-- CONSIDER PUTTING THIS ITERATION IN A HELPER USING AN IF/ELSE TO CHECK IF YOU HAVE MORE THAN 3 PATIENTS  -->
   <h3>Top 3 patients with the most exercises:</h3>
   <% @frequent_patients.each do |patient| %>
      <ul>
      <%= Patient.find(patient.patient_id).name %>
      </ul>
   <% end %>

<h2> These are your patients: </h2>

<% @patients.map do |patient|  %>
   <h3>Patient Name:</h3>
   <%= link_to patient.name, patient_path(patient) %></br>
<% end %>