<div class="patient-index-container">
      <h2>Patient with the most exercises:</h2>
      <% @frequent_patients.each do |patient| %>
         <ul>
         <%= Patient.find(patient.patient_id).name %>
         </ul>
      <% end %>

   <h3> These are your patients: </h3>
      <% @patients.map do |patient|  %>
   <div class="patients">
         <h4>Patient Name:</h4>
         <ul>
         <li><%= link_to patient.name, patient_path(patient) %></br></li>
         <ul>
   </div>
      <% end %>
</div>

