@import "bootstrap-sprockets";
@import "bootstrap";

.session-index-container {
        padding-left: 150px;
}

.session-new-container {
        padding-left: 150px;
}
.user-new-container {
        padding-left: 150px;
}
.user-show-container {
        padding-left: 150px;
}
.patient-show-container {
        padding-left: 150px;
}
.patient-index-container {
        padding-left: 150px;
}
.patient-new-container {
        padding-left: 150px;
}
.exercises-show-container {
        padding-left: 150px;
}
.exercises-new-container {
        padding-left: 150px;
}
.exercises-index-container {
        padding-left: 150px;
}
.exercises-edit-container {
        padding-left: 150px;
}
.all-exercises-container {
        padding-left: 150px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
}

.exercise {
    width: 30%;
    min-width: 300px;
    border-color: hsla(245, 63%, 87%, 0.815);
    border-style: ridge;
    padding-top: 10px;
    padding-bottom: 10px;
}
