<br></br>

<% @exercises.each do |exercise| %>
    <div>
        <ul>
            <li><%= exercise.name %><br></li>
            <label>Recommended repetitions: <%= exercise.reps %>
        <ul>
    </div>
<% end %>