<ul>
<% @exercises.all.map do |exercise| %>
<li>
<h4>Exercise Name:</h4>
<%= exercise.name %>

<br></br>
<%= link_to "Change this exercise", edit_exercise_path(exercise) %>
<br></br>
<%= link_to "Remove this exercise", exercise_path(exercise) %>

</li>
<% end %>
</ul>




