<div class="exercises-new-container">

    <%= render partial: "layouts/errors", locals: {object: @exercise} %>
    
    <h2>Assign an exercise for <%= @exercise.patient.name %></h3>
    <%= render "form" %>
</div>