<h3>Exercise Name:</h3>
<%= @exercise.name %>
<h4>Recommended number of repetitions:</h4>
<%= @exercise.reps %>
<br></br>
<%= link_to "Change exercise", edit_exercise_path(@exercise) %>
<br>
<%= link_to "Remove exercise", exercise_path(@exercise) %>

